<div style="    padding: 40px 20px 20px 0px; background-color: #1e272e;">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-4">
                    <div class="ui-head">HELP</div>
                    <ul>
                        <li>
                            <a routerLink="/about-minimart-mobile-app">About us</a>
                        </li>
                        <li>
                            <a routerLink="/faq">FAQ</a>
                        </li>
                        <li>
                            <a routerLink="/faq">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="https://minimartapp.blogspot.com/" target="_blank">Blog</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <div class="ui-head">BUSINESS</div>
                    <ul>
                        <li>
                            <a routerLink="/contact-minimart-mobile-app-team">Contact Us</a>
                        </li>
                        <li>
                            <a routerLink="/how-to-become-a-partner">Become a Partner</a>
                        </li>
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=com.convoxy.minimart"
                                target="_blank">Download Android Mobile App</a>
                        </li>
                        <li>
                            <a href="https://apps.apple.com/my/app/minimart-online-shopping/id1443443252"
                                target="_blank">Download IOS Mobile App</a>
                        </li>
                        <li class="navShow">
                            <a routerLink="/user" >Social Login
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <div class="ui-head">FOLLOW US</div>
                <ul class="social-icons">
                    <li>
                        <a target='_blank' href="https://www.facebook.com/Minimart-531959140607248/"><i id="social-fb"
                                class="fa fa-facebook-square fa-3x social"></i></a>
                    </li>
                    <li>
                        <a target='_blank' href="https://twitter.com/Minimartkl"><i id="social-tw"
                                class="fa fa-twitter-square fa-3x social"></i></a>
                    </li>
                    <li>
                        <a target='_blank' href="https://www.instagram.com/minimartmobileapp/"><i id="social-in"
                                class="fa fa-instagram fa-3x fa-3x social"></i></a>
                    </li>
                    <li>
                        <a target='_blank' href="https://minimartapp.blogspot.com/"><i id="social-gp"
                                class="fa fa-google-plus-square fa-3x social"></i></a>
                    </li>
                    <li>
                        <a target='_blank' href="https://www.linkedin.com/in/minimart-mobile-app-ab1814178/"><i
                                id="social-ln" class="fa fa-linkedin-square  fa-3x social"></i></a>
                    </li>
                    <li>
                        <a target='_blank' href="mailto:minimartmobileapp@gmail.com"><i id="social-em"
                                class="fa fa-envelope-square fa-3x social"></i></a>
                    </li>
                </ul>
                <div>
                    <p class="copyright" style="padding-left: 38px;">
                        &copy; 2020 <a routerLink="/download" style="color:#47a54b ;">MiniMart
                            App</a>,
                        made with all grocery needs
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2" style="padding-top: 40px; padding-bottom: 15px;padding-left: 40px">
            <div class="fb-like" data-href="https://www.facebook.com/minimartgroceryapp/" data-width=""
                data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
        </div>
        <div class="col-md-3" style="padding-left: 40px;">
            <div class="ui-head" style="padding-left: 0px"><span><img src="../../../assets/img/common/logo.png"
                        style="width: 50px;"></span><span style="padding-left: 5px">MINIMART</span></div>
            <div>
                <a target='_blank' href="https://play.google.com/store/apps/details?id=com.convoxy.minimart"
                    title="Online Grocery Delivery Services in Malaysia">
                    <img src="../../../assets/img/common/playstore.svg"
                        alt="Minimart - Grocery & Food Delivery Online Andorid" class="storeBtns">
                </a>
            </div>
            <div style="margin-top: 15px;">
                <a target='_blank' href="https://itunes.apple.com/us/app/minimart-grocery-shop/id1443443252?ls=1&mt=8"
                    title="Online Food Delivery Services in Malaysia">
                    <img src="../../../assets/img/common/appstore.svg"
                        alt="Minimart - Grocery Delivery on the App Store" class="storeBtns">
                </a>
            </div>
        </div>      
    </div>
</div>
