
.social-icons li {
    display:inline;
}
ul {
    list-style-type: none;
}
ul li a {
    color: #73828e;
    margin-right: 8px;
    font-size: 14px;
}
ul li a:hover {
    color: #fff;
  }
ul li {
    padding-bottom: 5px;
}
.storeBtns {
    width:50%;
}
.ui-head {
    padding-left: 40px;
    padding-bottom: 10px;
    color: #eee;
    font-weight: bold;
    font-size: 15px;
}
@media screen and (max-width: 767px) {
    .ui-head {
        padding-left: 20px;
        padding-bottom: 10px;
        color: #eee;
        font-weight: bold;
        font-size: 15px;
    }
}