
<div class="row" style="background: #fff;margin-top: 67px;
border-radius: 4px;padding-bottom: 30px;margin-bottom: 30px;">

<div class="col-lg-1"></div>
<div class="col-lg-10"> 
  <div class="row" >
      <div class="col-lg-12">
          <ul class="nav nav-tabs tabs-left sideways">
              <li><a href="#about-us" data-toggle="tab">About Us</a></li>
              <li><a href="#mobile-apps" title="Mini Mart - Indian Grocery Shopping App in Malaysia" data-toggle="tab">Mobile Apps</a></li>
              <li><a href="#coupons-vouchers" title="Mini Mart - About Us, Minimart vouchers and promo codes" data-toggle="tab">Vouchers & Promo Codes</a></li>
            </ul>
        </div>
        <div class="col-lg-12">
            <div class="tab-content">
                <div class="tab-pane active" id="about-us"><div style="font-size: 20px;
                  padding-left: 20px;
                  padding-top: 17px;">
                  About Us
                </div>
                <div class="tabContent">
                  <h1 class="h1class">Minimart App is Malaysia's most convenient online food & grocery shopping app. You can get all your favorite food and grocery items here. Imagine how easy it is to order food and grocery from your favourite shops in Malaysia using <a href="https://play.google.com/store/apps/details?id=com.convoxy.minimart">Minimart app</a>.</h1>
                   <br/>  <h1 class="h1class">We provide fresh fruits and vegetables online at your doorstep. We have a vast distribution network comprising of highly dedicated professionals coupled with strong logistics support, establishing a nationwide reach. Our scale of operation ensures that the fruits / vegetables we supply ends up in millions of fruit bowls across the country.</h1>
                  </div>
                  </div>
          
                <div class="tab-pane" id="mobile-apps">
                    <div style="font-size: 20px;
                    padding-left: 20px;
                    padding-top: 17px;">
                        Mobile Apps
                      </div>
                      <div class="tabContent">
                        <div class="faq-ques"> <h1 class="h1class">You can shop on your mobile phone or tablet by downloading our Minimart app.</h1></div> 
                       
                        <div class="row">
                          <div class="col-md-3">
                              <div style="padding-top: 10px;padding-bottom: 10px;">
                                  For iOS system devices: 
                              </div> 
                              <a target='_blank' title="download Minimart Mobile app from Apple Store" href="https://itunes.apple.com/us/app/minimart-grocery-shop/id1443443252?ls=1&mt=8">
                                <img src="../../../assets/img/common/appstore.svg" alt="grocery shopping app malaysia" style="width: 110px;">
                              </a>
                          </div>
                          <div class="col-md-3">
                              <img src="../../../assets/img/common/qr-code-ios.png" title="Scan to download Minimart Mobile App" alt="Quality Milk Supplier in Kualalumpur" style="width: 200px;height:200px;">
                          </div> 
                          <div class="col-md-3">
                              <div style="padding-top: 10px;padding-bottom: 10px;">
                                  For Android system devices:
                              </div>
                              <a target='_blank' title="download Minimart Mobile app from Google Play Store"  href="https://play.google.com/store/apps/details?id=com.convoxy.minimart">
                                <img src="../../../assets/img/common/playstore.svg" alt="Chinese Food & Grocery Delivery App" style="width: 110px;">
                              </a>
                          </div>   
                          <div class="col-md-3">
                              <img src="../../../assets/img/common/qr-code-android.png" title="Scan to download Minimart Mobile App" alt="Indian importes spices" style="width: 200px;height:200px;">
                          </div>                
                          </div>
                      
                        <!-- <div class="row"> 
                            <div class="col-md-3">
                                <a target='_blank'  href="https://play.google.com/store/apps/details?id=com.convoxy.minimart">
                                  <img src="../../../assets/img/common/playstore.png" style="width: 110px;">
                                </a>
                            </div>
                            <div class="col-md-4">
                                <img src="../../../assets/img/common/qr-code-android.png" style="width: 200px;height:200px;">
                            </div>                  
                          </div> -->
                        </div>
                </div>
                <div class="tab-pane" id="coupons-vouchers"><div style="font-size: 20px;
                  padding-left: 20px;
                  padding-top: 17px;">
                  Vouchers & Promo Code
                </div>
                <div class="tabContent">
                   <b>Invite Code : </b> If we share the application using "Invite a Friend and Earn" option in the application menu
                    we will get the credit points which can be used on purchase from any store.
                    <br/> <br/><b>Voucher Code :</b> If we use FIRST5 invite code before login, can get the RM5 worth of credit points. You can use this points anytime before place order.
                  </div>
                  </div>
              </div>
          </div>
  </div>
  <div style="font-size: 19px;padding-top: 87px;padding-bottom: 20px;font-weight: bold;text-align: center">
      How to use the Minimart mobile app?
  </div>
  <div style="text-align: center;">
      <iframe style="width:400px;height:300px" src="https://www.youtube.com/embed/AUJ8WvEgHCM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<div class="col-lg-1"></div>
</div>


  
