<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="default"
  color="#fff"
  type="ball-climbing-dot"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="row" style="margin-top: 90px">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div id="contactus" style="height: 90vh">
      <div
        style="
          text-align: center;
          font-size: 2.3em;
          font-weight: 700;
          padding-top: 20px;
          background: #fff;
          padding-bottom: 20px;
        "
      >
        <div>Current Job Openings</div>
      </div>
      <div>
        <div class="wrapper center-block">
          <div
            class="panel-group"
            id="accordion"
            role="tablist"
            aria-multiselectable="true"
          >
            <div class="panel panel-default">
              <div class="panel-heading active" role="tab" id="headingJobs1">
                <h4 class="panel-title">
                  <a
                    role="button"
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#collapseJob1"
                    aria-expanded="true"
                    aria-controls="collapseJob1"
                    style="color: green; text-decoration: underline"
                  >
                    Digital Marketing Executive
                  </a>
                </h4>
              </div>
              <div
                id="collapseJob1"
                class="panel-collapse collapse in"
                role="tabpanel"
                aria-labelledby="headingJobs1"
              >
                <div style="padding: 0px 15px 15px 15px">
                  <h3 style="font-weight: bold">Get to know the role</h3>
                  <div>
                    <li>
                      2 years of experience in developing and implementing
                      digital marketing strategies
                    </li>
                    <li>Social media marketing experience</li>
                    <li>Familiarity with web design and photoshop skills</li>
                    <li>Critical thinker and problem-solving skills</li>
                    <li>Blog/Article writing skills</li>
                    <li>Good time-management skills</li>
                    <li>Great interpersonal and communication skills</li>
                    <li>
                      Good knowledge of all different digital marketing channels
                    </li>
                  </div>
                  <h4>Monthly Salary</h4>
                  <li>RM 2500 - RM 3000</li>
                  <h4>How to apply</h4>
                  <li>
                    Please send us your updated resume to via
                    <span
                      ><a
                        href="mailto:admin&#64;minimart.app"
                        target="_blank"
                        rel="noopener noreferrer"
                        >admin&#64;minimart.app</a
                      ></span
                    >
                    or
                    <span
                      ><a
                        href="https://wsap.me/minimart"
                        target="_blank"
                        rel="noopener noreferrer"
                        >+60105449974</a
                      ></span
                    >
                  </li>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading active" role="tab" id="headingJobs2">
                <h4 class="panel-title">
                  <a
                    role="button"
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#collapseJob2"
                    aria-expanded="true"
                    aria-controls="collapseJob2"
                    style="color: green; text-decoration: underline"
                  >
                    Personal Shopper
                  </a>
                </h4>
              </div>
              <div
                id="collapseJob2"
                class="panel-collapse collapse in"
                role="tabpanel"
                aria-labelledby="headingJobs2"
              >
                <div style="padding: 0px 15px 15px 15px">
                  <h3 style="font-weight: bold">Get to know the role</h3>
                  <div>
                    <li>Select the near by shop</li>
                    <li>Purchase the items based on the customer order</li>
                    <li>
                      Update to the customer if any items are out of stock or
                      prices updated
                    </li>
                    <li>Request the rider once purchased the items</li>
                    <li>Applicant shoud have IC or valid work permit</li>
                  </div>
                  <h4>Monthly Salary</h4>
                  <li>RM 1500 - RM 2000</li>
                  <h4>How to apply</h4>
                  <li>
                    Please contact Minimart team with admin number
                    <span
                      ><a
                        href="https://wsap.me/minimart"
                        target="_blank"
                        rel="noopener noreferrer"
                        >+60105449974</a
                      ></span
                    >
                  </li>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading active" role="tab" id="headingJobs3">
                <h4 class="panel-title">
                  <a
                    role="button"
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#collapseJob3"
                    aria-expanded="true"
                    aria-controls="collapseJob3"
                    style="color: green; text-decoration: underline"
                  >
                    Courier or Rider
                  </a>
                </h4>
              </div>
              <div
                id="collapseJob3"
                class="panel-collapse collapse in"
                role="tabpanel"
                aria-labelledby="headingJobs3"
              >
                <div style="padding: 0px 15px 15px 15px">
                  <h3 style="font-weight: bold">Get to know the role</h3>
                  <div>
                    <li>Should have valid Malaysia licence</li>
                    <li>Punctual and professional</li>
                    <li>Can work any time 9 am to 9 pm</li>
                    <li>Fixed salary and allowance</li>
                  </div>
                  <h4>Monthly Salary</h4>
                  <li>RM 1500 - RM 2000</li>
                  <h4>How to apply</h4>
                  <li>
                    Please contact Minimart team with admin number
                    <span
                      ><a
                        href="https://wsap.me/minimart"
                        target="_blank"
                        rel="noopener noreferrer"
                        >+60105449974</a
                      ></span
                    >
                  </li>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
