<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="default" color="#fff" type="ball-climbing-dot">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div id="demo" class="carousel slide carousel-top" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../assets/img/home/slide-1.jpg" alt="Indian Grocery Shop in Malaysia" style="width: 100%;">
            <!-- <div class="row justify-content-start text-left banner-text">
                <div class="col-12">
                    <h4 class="banner-title1">Welcome to Our Online Mobile</h4>
                    <h1 class="banner-title2">FOOD & GROCERY </h1>
                    <h3 class="banner-title3">FOR TRUE GOURMETS</h3>
                </div>
            </div> -->
        </div>
        <div class="carousel-item">
            <img src="../../../assets/img/home/slide-2.jpg" alt="Food & Grocery delivery app in Malaysia"
                style="width: 100%;">
            <!-- <div class="row justify-content-start text-left banner-text">
                <div class="col-12">
                    <h4 class="banner-title1">A Wide Selection of Artisan Bread</h4>
                    <h1 class="banner-title2">Baked goods</h1>
                    <h3 class="banner-title3">available at our app</h3>
                </div>
            </div> -->
        </div>
        <div class="carousel-item">
            <img src="../../../assets/img/home/slide-3.jpg" alt="Best online food & grocery delivery app in Kualalumpur"
                style="width: 100%;">
            <div class="row justify-content-start text-left banner-text">
                <div class="col-12">
                    <h4 class="banner-title1">Fresh and Tasty</h4>
                    <h1 class="banner-title2">VEGETABLES</h1>
                    <h3 class="banner-title3">THAT YOU LOVE</h3>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" aria-label="Minimart" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" aria-label="Minimart" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<div class="welcome-div" id="welcome">
    <span class="home-welcome-message">Welcome to Minimart Food & Grocery Mobile App</span>
    <div class="welcome-down">We are the largest online food & grocery platform in Malaysia. We have the best selection of Indian groceries so you can prepare staple delicious dishes with ease! You can find everything from grocery, food, beauty products, jewellery, electronics, fresh vegetables, dairy products, cooking gas, fresh milk, Indian homemade products, bakery items, Indian species many more.</div>
    <div class="row appstore-link">
        <div class="col-md-6 col-sm-4 col-xs-4 mobile-off" style="padding: 0px 5px 0px 0px;">
            <a target='_blank' href="https://play.google.com/store/apps/details?id=com.convoxy.minimart"
                title="Online Grocery Delivery Services in Malaysia">
                <img src="../../../assets/img/common/playstore.svg"
                    alt="Minimart - Grocery & Food Delivery Online Andorid">
            </a>
        </div>
        <div class="col-md-6 col-sm-4 col-xs-4 mobile-off" style="padding: 0px 5px 0px 0px;">
            <a target='_blank' href="https://itunes.apple.com/us/app/minimart-grocery-shop/id1443443252?ls=1&mt=8"
                title="Online Food Delivery Services in Malaysia">
                <img src="../../../assets/img/common/appstore.svg" alt="Minimart - Grocery Delivery on the App Store">
            </a>
        </div>
    </div>
</div>
<div id="delivery">
    <div class="content" style="background: #f8f9fa;">
        <div class="become-partner">
            <h2 style="font-weight: 600;font-size: 22px;">Become a Minimart partner today</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <div><img src="../../assets/img/home/fruits.png"
                            title="Online Grocery Delivery Services in Malaysia"
                            alt="Cooking gas delivery serive in Malaysia"></div>
                    <div class="text">
                        <div>FOOD & GROCERY</div>
                    </div>
                    <div>
                        <span class="testi-txt">
                            Order online food & grocery from your favourite shops. You can find the best Malay, Chinese
                            & Indian grocery shops.
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <div><img src="../../assets/img/home/free-delivery.png"
                            alt="Free Delivery Mobile App in Kualalumpur"></div>
                    <div class="text">
                        <span>DELIVERY SERVICE</span>
                    </div>
                    <div>
                        <span class="testi-txt">We offer delivery service to all our customers. All you have to do is
                            just install our app and order from your favourite shops.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <div><a routerLink="/how-to-become-a-partner"><img
                                src="../../assets/img/home/grocery.png"
                                title="How to become a partner with Minimart Mobile App"
                                alt="Grocery Shopping App in Brickfileds"></a></div>
                    <div class="text">
                        <span>REGISTER YOUR SHOP TODAY</span>
                    </div>
                    <div>
                        <span class="testi-txt">We have different kind of food, grocery, beauty and electronics shops
                            that have prompt services. So call today to join with us.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <div><img src="../../assets/img/home/stock.svg" style="width: 128px;"
                            title="Online Grocery Delivery Services in Malaysia"
                            alt="Cooking gas delivery serive in Malaysia"></div>
                    <div class="text">
                        <div>KEEP TRACK OF YOUR STOCK</div>
                    </div>
                    <div>
                        <span class="testi-txt">
                            Accounting for inventory is an important part of grocery store management.
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <div><img src="../../assets/img/home/analytics-icon.png"
                            alt="Free Delivery Mobile App in Kualalumpur"></div>
                    <div class="text">
                        <span>ANALYTICS</span>
                    </div>
                    <div>
                        <span class="testi-txt">We provide data analytics with real time data that can improve your
                            business.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <div><a routerLink="/how-to-become-a-partner"><img
                                src="../../assets/img/home/notification-icon.png"
                                title="How to become a partner with Minimart Mobile App"
                                alt="Grocery Shopping App in Brickfileds"></a></div>
                    <div class="text">
                        <span>NOTIFICATIONS</span>
                    </div>
                    <div>
                        <span class="testi-txt">We've prepared a list of the key benefits of push notifications that
                            help
                            to reinforce your business</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="parallax" style="text-align: center;">
    <p>From Fresh Produce to Essential Hygiene Products, <br>Get what you need from MiniMart </p>
    <a target='_blank'  href="https://play.google.com/store/apps/details?id=com.convoxy.minimart"
        title="Gerobok Rahmah is where you shop for the needy."><img src="../../../assets/img/common/download-minimart.png" style="width: 200px" ></a>
</div>
<div id="categories">
    <div class="content" style="background: #fff;">
        <div style="text-align:center;font-size: 2em;
        font-weight: 700;">Popular Categories</div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="margin-top: 30px;">
                <div class="image-box">
                    <img src="../../assets/img/home/coffee-cat.jpg" class="home-category-img"
                        alt="Indian Grocery shop in Malaysia" />
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="margin-top: 30px;">
                <div class="image-box">
                    <img src="../../assets/img/home/beverages-minimart.jpg" class="home-category-img"
                        alt="Fresh Vegetables online free delivery" />
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top: 30px;">
                <div class="image-box">
                    <img src="../../assets/img/home/veg-fruits-cat.jpg" class="home-category-img"
                        alt="Fruits & quality milk online Malaysia" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top: 30px;">
                <div class="image-box">
                    <img src="../../assets/img/home/groceries-cat.jpg" class="home-category-img"
                        alt="Indian and Chinese Grocery household items" />
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="margin-top: 30px;">
                <div class="image-box">
                    <img src="../../assets/img/home/eat-fresh-cat.jpg" class="home-category-img"
                        alt="Fresh Vegetables online free delivery" />
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="margin-top: 30px;">
                <div class="image-box">
                    <img src="../../assets/img/home/food-minimart.jpg" class="home-category-img"
                        alt="Best Food Delivery App in Malaysia" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="categories">
    <div class="content" style="background: #f8f9fa;">
        <div style="text-align:center;font-size: 2em;
        font-weight: 700;">Favourite Stores</div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                <div class="image-box">
                    <a target="_blank" href="https://www.umstores.com.my/">
                        <img src="../../assets/img/home/umstores.png" alt="UM Stores Indian Grocery in Brickfields" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                <div class="image-box">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.convoxy.minimart&hl=en">
                        <img src="../../assets/img/home/truefreshies.jpg"
                            alt="True Freshies for milk and coconut in Klang Lama" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                <div class="image-box">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.convoxy.minimart&hl=en">
                        <img src="../../assets/img/home/mybiryanihouse-ampang-kualalumpur.jpg"
                            alt="Online Grocery Shopping Kualalumpur" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                <div class="image-box">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.convoxy.minimart&hl=en">
                        <img src="../../assets/img/home/lulu.png" alt="Lulu Hypermarket Malaysia" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="image-box">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.convoxy.minimart&hl=en">
                        <img src="../../assets/img/home/valuebazaar.jpg"
                            alt="Value Bazaar for Haldirams Indian Grocery" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="image-box">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.convoxy.minimart&hl=en">
                        <img src="../../assets/img/home/jaspilite.png" alt="Brickfields Indian Shop" />
                    </a>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="image-box">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.convoxy.minimart&hl=en">
                        <img src="../../assets/img/home/Hyderabad-Recipes-House.jpg"
                            alt="UM Stores Indian Grocery in Brickfields" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="image-box">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.convoxy.minimart&hl=en">
                        <img src="../../assets/img/home/waqafa-gold-malaysia.png"
                            alt="True Freshies for milk and coconut in Klang Lama" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="image-box">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.convoxy.minimart&hl=en">
                        <img src="../../assets/img/home/Mamiyar-Tamil-Masala-Homemade-Food.jpg"
                            alt="Mamiyar Tamil Chenni Homemade food" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="image-box">
                    <a target="_blank" href="https://hyderabadrecipes.com.my/">
                        <img src="../../assets/img/home/green-chillies-my81-restaurant.png" alt="mini market nearby" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="image-box">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.convoxy.minimart&hl=en">
                        <img src="../../assets/img/home/apbhavan.jpg" alt="Andhra Special Biryani" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="image-box">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.convoxy.minimart&hl=en">
                        <img src="../../assets/img/home/Hyderabadi-Nijam-Biryani-Malaysia.jpg"
                            alt="Yong Soon Fatt Sdn Bhd" />
                    </a>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="image-box">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.convoxy.minimart&hl=en">
                        <img src="../../assets/img/home/Minaral-Drinking-Water-Supply.png"
                            alt="Dairy Fresh Milk Coconut Sugarcane Juice" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="image-box">
                    <a routerLink="/contact-minimart-mobile-app-team">
                        <img src="../../assets/img/home/Talfer-Malaysia-Products.png"
                            alt="Talfer Dry Fruits Malaysia" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="image-box">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.convoxy.minimart&hl=en">
                        <img src="../../assets/img/home/Delicacy-Icecream.jpeg"
                            alt="Delicacy Ice Cream Delivery in Malaysia" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="image-box">
                    <a target="_blank" href="https://minimart.page.link/sb">
                        <img src="../../assets/img/home/Dairy-Fresh-Milk-Coconut-Sugarcane-Juice.jpg"
                            alt="SreeBiryani.com" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="image-box">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.convoxy.minimart&hl=en">
                        <img src="../../assets/img/home/Prablees-Food-House-Petaling-Jaya.jpg"
                            alt="convenience store" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="image-box">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.convoxy.minimart&hl=en">
                        <img src="../../assets/img/home/Kash-Vegetables-Cyberjaya-Cameron-Highlands.jpeg"
                            alt="Kash-Vegetables-Cyberjaya-Cameron-Highlands-fresh-vegetables" />
                    </a>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="image-box">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.convoxy.minimart&hl=en">
                        <img src="../../assets/img/home/Cooking-Gas-Shop.jpg"
                            alt="Cooking Gas Delivery Service in Malaysia" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="image-box">
                    <a routerLink="/how-to-become-a-partner">
                        <img src="../../assets/img/home/Cake-Lovers-Shop.jpg" alt="Fresh Cakes Delivery Kualalumpur" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="image-box">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.convoxy.minimart&hl=en">
                        <img src="../../assets/img/home/Burger-Shop.jpg" alt="The Burger Delivery Shop in Malaysia" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="image-box">
                    <a target="_blank" href="https://minimart.page.link/sb">
                        <img src="../../assets/img/home/Bollywood-Tadka.jpg"
                            alt="Bollywood Tadka Restaurant in Kuala Lumpur" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="image-box">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.convoxy.minimart&hl=en">
                        <img src="../../assets/img/home/GrainNGrass.jpg" alt="Organic Products Delivery in Malaysia" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="image-box">
                    <a routerLink="/contact-minimart-mobile-app-team">
                        <img src="../../assets/img/home/mr-naan-mrs-idly-pure-vegetarian-restaurant.jpg"
                            alt="Dairy Fresh Milk Supply in Malaysia Free Delivery" />
                    </a>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                <div class="image-box">
                    <a target="_blank" href="https://minimartapp.blogspot.com/">
                        <img src="../../assets/img/home/my81-grocery-mybiryani.png"
                            alt="MY81 Biryani Indian Grocery Shop" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                <div class="image-box">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.convoxy.minimart&hl=en">
                        <img src="../../assets/img/home/Durian-Lovers-KL.jpg"
                            alt="Durian delivery service in kuala lumpur" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                <div class="image-box">
                    <a target="_blank" href="https://www.youtube.com/watch?v=6nxEMSxfXRg">
                        <img src="../../assets/img/home/Paanwala-KualaLumpur.png" alt="Paanwala Kualalumpur" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                <div class="image-box">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.convoxy.minimart&hl=en">
                        <img src="../../assets/img/home/Moghul-Mahal-Malaysia.jpeg" alt="Moghul Mahal Malaysia" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="image-box">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.convoxy.minimart&hl=en">
                        <img src="../../assets/img/home/Daawat-Malayali-Kerala-Restaurant.png"
                            alt="Daawat Malayali Kerala Restaurant in Malaysia" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="image-box">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.convoxy.minimart&hl=en">
                        <img src="../../assets/img/home/Meat-Seafood-Malaysia.jpg"
                            alt="Meat and Seafood in Brickfileds Free Delivrey" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contactus">
    <div style="text-align: center;font-size: 2em;font-weight: 700;padding-top: 58px;background: #fff;">
        <div>Contact Us</div>
    </div>
    <div class="content" style="background: #fff;">
        <div style="text-align:center;font-size: 15px;
        font-weight: bold;">
            <p style="margin-top: -15px;color: #a5a1a1;">Any queries? Fill out the contact form below.</p>
        </div>
        <div class="row">
                <div class="column">
                    <div class="row">
                        <div class="col-md-1"><img src="../../assets/img/home/easysearch-address.png"
                                alt="Top Shopping Apps in Malaysia">
                        </div>
                        <div class="col-md-7">
                            <div style="font-weight: 500;font-size: 16px;">Address</div>
                            <div>Minimart Online Sdn Bhd, Unit D-3A-4, Setiawalk, Puchong, 47160, Malaysia</div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-md-1"><img src="../../assets/img/home/easysearch-email.png"
                                alt="Cameron Highlands Fresh Grocery"></div>
                        <div class="col-md-7">
                            <div style="font-weight: 500;font-size: 16px;">Email Address</div>
                            <div>admin&#64;minimart.app</div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-md-1"><img src="../../assets/img/home/easysearch-support.png"
                                alt="Chinese Grocery Yong Soon Fatt Sdn Bhd">
                        </div>
                        <div class="col-md-7">
                            <div style="font-weight: 500;font-size: 16px;">Contact Number</div>
                            <div>(+60)10 544 9974</div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="column">
                    <form class="m-t" (ngSubmit)="contactUs(flogin)" #flogin="ngForm">
                        <div class="form-group">
                            <label for="name" style="font-weight: 600;font-size: 15px;">Name</label>
                            <input type="text" style="font-size: 14px;" class="form-control" ngModel id="name"
                                name="name" placeholder="Enter your name" #name="ngModel" required>
                            <span *ngIf="!name.valid && name.touched" style="color:#ffa500">Please enter your
                                name.</span>
                        </div>
                        <div class="form-group">
                            <label for="mobilenumber" style="font-weight: 600;font-size: 15px;">Phone
                                Number</label>
                            <input type="number" style="font-size: 14px;" class="form-control" id="mobilenumber" ngModel
                                name="mobilenumber" placeholder="Enter your phone number" #mobilenumber="ngModel"
                                required>
                            <span *ngIf="!mobilenumber.valid && mobilenumber.touched" style="color:#ffa500">Please enter
                                your
                                mobile number.</span>
                        </div>
                        <div class="form-group">
                            <label for="email" style="font-weight: 600;font-size: 15px;">Email</label>
                            <input type="email" style="font-size: 14px;" class="form-control" id="email" name="email"
                                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                placeholder="Enter your email address" #email="ngModel" ngModel required>
                            <span *ngIf="!email.valid && email.touched" style="color:#ffa500">Please enter your
                                email address.</span>
                        </div>
                        <div class="form-group">
                            <label for="subject" style="font-weight: 600;font-size: 15px;">Message</label>
                            <textarea id="message" style="font-size: 14px;" name="message" class="form-control"
                                placeholder="Enter your message" style="height:170px" #message="ngModel" ngModel
                                required></textarea>
                            <span *ngIf="!message.valid && message.touched" style="color:#ffa500">Please enter your
                                message.</span>
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b" [disabled]="!flogin.valid">Send Message</button>
                    </form>
                </div>
        </div>
    </div>
</div>
