<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary ">
                <i class="fa fa-bars" style="color:#fff;" title="Refresh the browser if it doesn't work"></i> </a>
            <div class="row dashboard-header">
                <div class="col-md-3">
                    <h3 style="font-size: 14px;font-weight: bold;margin-top: 10px;">DASHBOARD</h3>
                </div>
            </div>
        </div>
        <ul class="nav navbar-top-links" style="margin-right: 20px;">
            <li>
                <a (click)="logout()" class="admin-logout">
                    <i class="fa fa-sign-out"></i> Log Out
                </a>
            </li>
        </ul>
    </nav>
</div>