<div class="welcome-div" id="welcome" style="padding-top:100px !important; padding-bottom:350px !important;">
    <span class="home-welcome-message">Minimart Food & Grocery Mobile App</span>
    <div> <span class="home-welcome-message">DOWNLOAD NOW</span></div>
    <div class="welcome-down">We have the best selection of Indian groceries so you can prepare staple delicious dishes with ease! You can find everything from grocery, food, beauty products, jewellery, electronics, fresh vegetables, dairy products, cooking gas, fresh milk, Indian homemade products, bakery items, Indian species many more.</div>
    <div class="row appstore-link" style="top:50% !important">
        <div class="col-md-6 col-sm-6 col-xs-6" style="padding: 5px 5px 0px 0px;">
            <a target='_blank' href="https://play.google.com/store/apps/details?id=com.convoxy.minimart"
                title="Online Grocery Delivery Services in Malaysia">
                <img src="../../../assets/img/common/playstore.svg"
                    alt="Minimart - Grocery & Food Delivery Online Andorid">
            </a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6" style="padding: 5px 5px 0px 0px;">
            <a target='_blank' href="https://itunes.apple.com/us/app/minimart-grocery-shop/id1443443252?ls=1&mt=8"
                title="Online Food Delivery Services in Malaysia">
                <img src="../../../assets/img/common/appstore.svg" alt="Minimart - Grocery Delivery on the App Store">
            </a>
        </div>
    </div>
</div>