<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10" style="background: #fff;margin-top: 20px;
  border-radius: 4px;padding-bottom: 30px;margin-bottom: 30px;">
        <div style="font-size: 18px;padding-top: 87px;padding-bottom: 20px;font-weight: bold;text-align: center;">
            <h1 style="font-size: 18px;font-weight: bold;" title="Mini Mart - faq, complaints and suggestions page">Frequently Asked Questions</h1>
        </div>
        <div>
            <div class="wrapper center-block">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                   What is Minimart?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                            aria-labelledby="headingOne">
                            <div class="panel-body">
                                <h2 class="h2class">MINIMART (Mobile App) is Malaysia's most convenient food and grocery ordering site via mobile, connecting people with the best groceries shops around them, in Kuala Lumpur, Petaling Jaya, Ipoh, Melaka, and many more Malaysian cities! You can find everything from groceries, food, beauty products, jewelry, electronics, fresh vegetables, dairy products, cooking gas, fresh milk, Indian homemade products, bakery items, Indian species many more.</h2>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading active" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    How to contact Minimart team?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <h2 class="h2class">You can reach our team via phone call or whatsapp (+60 10 544 9974) Monday to Sunday -
                                9.00am to 9.00pm, including Public Holidays.</h2>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading13">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapse13" aria-expanded="false" aria-controls="collapse13">
                                    How to change the delivery address?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse13" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="heading13">
                            <div class="panel-body">
                                <h2 class="h2class">  You can change the delivery address at any time in the mobile app before you placed the
                                order. If you want to change the delivery address after you placed the order, you can
                                reach the Minimart team via phone call or WhatsApp (+60 10 544 9974).</h2>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading14">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapse14" aria-expanded="false" aria-controls="collapse14">
                                    How do I cancel my order?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse14" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="heading14">
                            <div class="panel-body">
                                <h2 class="h2class">You can see the cancel order option at order history in the profile section. Cancel option may be disabled once the shop keeper acceptetd the order. You can contact shop (Shop keeper number can see at history section or email) or Minimart customer support any time (+60105449974)</h2>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    What is the minimum order for delivery?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingThree">
                            <div class="panel-body">
                                <h2 class="h2class"> There is no minimum order for delivery. You can order food and groceries from RM1. There are few shops which resticted to min RM 50 for their shop orders.</h2>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    How much is the delivery cost?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingFour">
                            <div class="panel-body">
                                <h2 class="h2class"> Its depends on the the distance, weight and the time. We may do free delivery on
                                festival seasons. Generally we charge the delivery fee RM1 for 1KM (This is applicapable
                                after 5KM)</h2>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading15">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapse15" aria-expanded="false" aria-controls="collapse15">
                                    Is Minimart an ecommerce?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse15" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="heading15">
                            <div class="panel-body">
                                <h2 class="h2class">Minimart e-commerce online grocery platform is the first and fastest online Indian grocery and food network to delliver food, groceries across klang velley in Malaysia.</h2>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    How much is the service fee?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <h2 class="h2class">Our service fee starts from RM5. It varies based on store, delivery distance and selected delivery slot.
                                </h2> 
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    What should I do if the goods received are not as per my order?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingSix">
                            <div class="panel-body">
                                <h2 class="h2class"> For the wrong/damage/faulty products that are caused by our store people,
                                you can call the Minimart customer service (+6010 544 9974) and raise the complaint.
                                Our Customer Service will contact you
                                to reschedule another delivery with free delivery cost. We apologize
                                for any inconvenience caused.</h2> 
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading16">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapse16" aria-expanded="false" aria-controls="collapse16">
                                    How soon can I receive the order?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse16" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="heading16">
                            <div class="panel-body">
                                <h2 class="h2class">The earliest you can receive your order is the same working day from the time you make
                                your purchase, subject to available delivery slots.</h2> 
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading17">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapse17" aria-expanded="false" aria-controls="collapse17">
                                    What happens if something is out of stock?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse17" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="heading17">
                            <div class="panel-body">
                                <h2 class="h2class">When something is out of stock at the shop, we do our best to replace it with a similar item. The shop keeper should call to customer and inform the same. Based on the customer confirmation we will update the item.</h2> 
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    What are the payment methods available?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingEight">
                            <div class="panel-body">
                                <h2 class="h2class">  Currently we have cash on delivery option for the customers. Few shops may ask customers
                                to transfer money to their company account.
                                We are integrating online banking and credit/debit card payment soon.!</h2> 
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNine">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    What kind of products do you sell?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingNine">
                            <div class="panel-body">
                                <h2 class="h2class">  At Minimart mobile app, you can choose from over thousands products spread across
                                various categories such as fresh meats and vegetables, food essentials,
                                bakery, beauty and health appliances and much more. Since our mobile
                                app is still new, we work hard to make your shopping experience
                                wonderful.
                                Please let us know via message or email if we missed out any of your daily needs.</h2>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Can I purchase more items at a time?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingFive">
                            <div class="panel-body">
                                <h2 class="h2class">To help ensure a smooth delivery process and to protect the safety of our Riders who are unable to handle large loads on their motorcycles, there are quantity limits for certain items on Minimart. We can deliver on bikes up to 12 kg weight and book car up to 50 kg weight.</h2>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                    How do I collaborate with Minimart?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse10" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingTen">
                            <div class="panel-body">
                                <h2 class="h2class">You can add your food / grocery business into Minimart platfrom with free of cost. Please contact our Minimart team for registration process (+60105449974)</h2>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading11">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapse11" aria-expanded="false" aria-controls="collapse11">
                                    How do I become a Minimart rider or shopper?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse11" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="heading11">
                            <div class="panel-body">
                                <h2 class="h2class">Please contact our Minimart team (+60105449974) to join as rider or shopper with us.</h2>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading12">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                    What countries is Minimart in?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse12" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="heading12">
                            <div class="panel-body">
                                <h2 class="h2class">Headquarted in Malaysia, Kuala Lumpur, we have expanded to India and currently operating in many cities in two countries.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div></div>
<!-- <div style="padding-bottom: 30px;">
    <div style="text-align:center;font-size: 15px;
    font-weight: bold;">
        <p style="margin-top: -20px;">Any queries? Fill out the contact form below.</p>    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="m-t" role="form" (ngSubmit)="contactUs(fsubmitquery)" #fsubmitquery="ngForm">
                    <div class="form-group">
                        <input pInputText type="text" placeholder="Mr Apple" class="form-control" ngModel name="name"
                            #name="ngModel" required>
                        <span *ngIf="!name.valid && name.touched" style="color:#ffa500">Please enter full name.</span>
                    </div>
                    <div class="form-group">
                        <input pInputText type="number" placeholder="+60105449974"
                            class="form-control" ngModel name="mobilenumber" #mobilenumber="ngModel" required>
                        <span *ngIf="!mobilenumber.valid && mobilenumber.touched" style="color:#ffa500">Please enter
                            valid mobile number.</span>
                    </div>
                    <div class="form-group">
                        <input pInputText type="email" class="form-control" placeholder="mrapple@apple.com" required
                            name="email" ngModel pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel"
                            required>
                        <span *ngIf="!email.valid && email.touched" style="color:#ffa500">Please enter valid email
                            address.</span>
                    </div>
                    <div class="form-group">
                        <textarea ngModel name="query" class="form-control" ngModel #query="ngModel"
                            placeholder="I would like to joina as Minimart partner" rows="4" style="width:100%" required>                               pInputTextarea autoResize="autoResize">
                            </textarea>                    </div>
                    <button pButton type="submit" [disabled]="!fsubmitquery.valid" label="SUBMIT"
                        class="float-right ui-button-raised"></button>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div> -->