
<div class="navbar-wrapper">
  <nav class="navbar navbar-default navbar-fixed-top navbar-expand-md navbar-scroll header-nav-main" role="navigation">
    <a class="website-logo" routerLink=""><span>
      <img src="../../../../assets/img/common/minimart-logo.png" alt="Minimart Food & Grocery Mobile App"/>
    </span>
    <span style="position: absolute;top: 24px;">inimart</span>
  </a>
    <!-- <div class="navbar-header page-scroll">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" style="color:#000;">
        <i class="fa fa-bars"></i>
      </button>
    </div> -->
    <div class="justify-content-start" id="navbar" style="padding-left: 10px;
    margin-top: -5px;">
      <ul class="nav navbar-nav navbar-right">
        <li class="navShow"><a class="nav-link page-scroll" href="https://www.minimart.app/online-food-and-grocery-mobile-app">Home</a></li>
        <li class="navShow"><a class="nav-link page-scroll" href="https://www.minimart.app/about-minimart-mobile-app">About Us</a></li>
        <li class="navShow"><a class="nav-link page-scroll" href="https://www.minimart.app/contact-minimart-mobile-app-team">Contact Us</a></li>
        <li class="navShow"><a class="nav-link page-scroll" href="https://www.minimart.app/how-to-become-a-partner">Become a Partner</a></li>
        <li class="navShow"><a class="nav-link page-scroll" href="https://www.minimart.app/minimart-jobs">Jobs</a></li>
        <li class="navShow"><a class="nav-link page-scroll" href="https://www.minimart.app/promo-codes">Promo Codes</a></li>
        <li class="navShow"><a class="nav-link page-scroll" href="https://www.minimart.app/faq">FAQ</a></li>
        <li class="navShow"><a class="nav-link page-scroll" href="https://minimartapp.blogspot.com/" target="_blank">BLOG</a></li>
      
        <li class="menuList">        
               <a class="nav-link page-scroll" (click)="continueFun()"><span class="login-border">Admin</span></a>
        </li>      
      </ul>
    </div>  
  </nav>
  
</div>