<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="default" color="#fff" type="ball-climbing-dot">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="row" style="margin-top: 90px;">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div id="contactus" style="height:60vh">       
            <div style="text-align: center;font-size: 2.3em;font-weight: 700;padding-top: 20px;background: #fff;">
                <div>Invite a Friend and Earn</div>
            </div>
            <div class="welcome-down">Earn credit points by sharing our app with others. You can get the points once they used your invite code while they logged in. You can use credit points any time while purchasing.
            </div>    
            <div class="welcome-down">
                <br/><b>Voucher Code :</b> If we use <a href="https://play.google.com/store/apps/details?id=com.convoxy.minimart">FIRST5</a> invite code before login, can get the RM5 worth of credit points. You can use this points anytime before place order.
            </div>     
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

