.login-btn {
    color: #fff;
    border: none;
    width:90px;
    height: 42px;
    font-size: 18px;
    background: -webkit-linear-gradient(top,#f53e3e 0,#d84315 100%) !important;
  }
  .faq-border {
    background: #f9f9f9;
    padding: 10px;
    margin-top: 2px;
    border-radius: 4px;
  }
  .faq-ques {
   font-size:14px;
   padding-top: 10px;
   font-weight: bold;
 }
 .faq-ans {
    font-size:14px;
    padding-top: 10px;
    padding-bottom: 10px;
 }
