
<div class="row" style="margin-left:0px !important;margin-right:0px !important">
    <div class="col-md-1"></div>
    <div class="col-md-10" style="background: #fff;margin-top: 20px;
  border-radius: 4px;padding-bottom: 30px;margin-bottom: 30px;">
        <div style="font-size: 19px;padding-top: 87px;padding-bottom: 20px;font-weight: bold;">
            How do I add a grocery, food or other business into the Minimart mobile app?
        </div>
        <div>
            <div class="faq-border">
                <div class="faq-ques">
                    How to register?
                </div>
                <div class="faq-ans">
                    If you want to become Minimart partner, please reach our team (+60 10 544 9974) with the below details. We will help you to register with us.
Your name, email address, phone number, shop name, shop SSM, shop Address, shop logo.
                 <div><span><a href="https://wsap.me/minimart" target="_blank" rel="noopener noreferrer">Whatsapp</a></span>
                <span style="padding-left: 10px;"><a href="https://www.facebook.com/minimartgroceryapp" target="_blank" aria-label="Facebook" rel="noopener noreferrer">Facebook</a></span>
                <span style="padding-left: 10px;"><a href="https://twitter.com/Minimartkl" target="_blank" aria-label="Twitter" rel="noopener noreferrer">Twitter</a></span>
                <span style="padding-left: 10px;"><a href="https://www.instagram.com/minimartmobileapp/" target="_blank" aria-label="Instagram" rel="noopener noreferrer">Instagram</a></span>
                <span style="padding-left: 10px;"><a href="https://minimartapp.blogspot.com/" target="_blank" aria-label="Minimart Blog" rel="noopener noreferrer">Blog</a></span>
            </div>
                </div>
            </div> 
            <div class="faq-border">
                <div class="faq-ques">
                    How to use Minimart platform?
                </div>
                <div class="faq-ans">
                    We will provide you one admin mobile app and admin website after successfully registered with us.
                    You can use the admin mobile app to track the orders. It has the facility to accept, reject orders, google map and wage options, customers information along with WhatsApp, and mobile numbers.
                    
                    You can use the admin website to add your shop items, update prices, add delivery charges, and changing the settings (names, phone numbers, logo, themes, address, etc). You can use the Minimart price update API to update your prices.
                    <div><span><a href="https://www.youtube.com/watch?v=AUJ8WvEgHCM&t=31s" target="_blank" rel="noopener noreferrer" aria-label="How to use Minimart Mobile app">How to use Mini Mart Mobile App</a></span>
                        <span style="padding-left: 10px;"><a href="https://www.youtube.com/watch?v=ctPhpYWB6s4&t=12s" target="_blank" aria-label="How to Join in Minimart" rel="noopener noreferrer">How to add your shop into Minimart</a></span></div>
                </div>
            </div> 
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
